$red: rgb(248,112,112);
$light-blue: rgb(112,243,248);
$purple: rgb(216,129,248);
$dark-blue: rgb(30,33,63);
$darker-blue: rgb(22,25,50);
$light-gray: rgb(215,224,255);
$white: rgb(255,255,255);
$less-white: rgb(239,241,250);
$gradient-color: rgb(46, 50, 90);
$gray: rgb(137,137,137);
$line: #E3E1E1;
$kumbh-sans: 'Kumbh Sans', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$space-mono: 'Space Mono', monospace;
